<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="heat-color.js"></script>
    <script src="dark-mode-toggle.js"></script>
</head>
<body>
    <button id="dark-toggle">🌞</button>
    {% from "_card.j2" import build_card %}

    <h2> All Cards </h2>
    <div class="cards-container">
        {% for card_type in Card.all_types.values() %}
            {{  build_card(card_type) }}
        {% endfor %}
    </div>

    <h2>All Cards - Table View</h2>
    <table>
        <thead>
            <tr>
                <th>Card Name</th>
                <th>Heat Cost</th>
                <th>Explainer</th>
                <th>Flavor</th>
            </tr>
        </thead>
        <tbody>
            {% for card_type in Card.all_types.values() %}
                <tr>
                    <td class="name">{{ card_type.human_name() }}</td>
                    <td class='card-heat'>{{ card_type.heat }}</td>
                    <td>
                        {% for step in card_type.steps %}
                            <p>{{ '‣' + step.explainer() }}</p>
                        {% endfor %}
                    </td>
                    <td>{{ card_type.flavor_text }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
