<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="heat-color.js"></script>
    <script src="dark-mode-toggle.js"></script>
</head>
<body>
    <button id="dark-toggle">🌞</button>

    
        <div class="mech-section">
            <h2>Sandpiper</h2>
            <div class="cards-container">
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Standard Move</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/standard-move.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6"</p>
                            
                        </div>
                        <div class="card-footer">"Step by step, gear by gear, we march through metal and fear."
— Seawell Militia Drill Song</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Standard Move</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/standard-move.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6"</p>
                            
                        </div>
                        <div class="card-footer">"Step by step, gear by gear, we march through metal and fear."
— Seawell Militia Drill Song</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Shake It Off</span>
                            <span class="card-heat">-1</span>
                        </div>
                        <img src="images/shake-it-off.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 90°-180°</p>
                            
                        </div>
                        <div class="card-footer">"Make your own cool wind!"
— Ballera, Mecha Duelist</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Step Up</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/step-up.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6", ignoring terrain</p>
                            
                        </div>
                        <div class="card-footer">"When the words crumbles beneath yoU: step up, step up"
— Excerpt from Skaldic death poem</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Step Up</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/step-up.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6", ignoring terrain</p>
                            
                        </div>
                        <div class="card-footer">"When the words crumbles beneath yoU: step up, step up"
— Excerpt from Skaldic death poem</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Jump Pack</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/jump-pack.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 6-12", ignoring terrain</p>
                            
                        </div>
                        <div class="card-footer">"Get the sun behind you, and fly Icarus, fly!"
— Phent, Oldland Saboteur</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Jump Pack</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/jump-pack.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 6-12", ignoring terrain</p>
                            
                        </div>
                        <div class="card-footer">"Get the sun behind you, and fly Icarus, fly!"
— Phent, Oldland Saboteur</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Slow It Down</span>
                            <span class="card-heat">-2</span>
                        </div>
                        <img src="images/slow-it-down.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Draw a card</p>
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"The oldest titans tread the softest."
— Grimsmear the Unyielding</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Push Off</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/push-off.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-2", deal 6 damage</p>
                            
                                <p>‣Move away 6-12"</p>
                            
                        </div>
                        <div class="card-footer">"Give them a nudge into the abyss."
— V1ncent, Guerilla Droid</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Cool Off</span>
                            <span class="card-heat">-4</span>
                        </div>
                        <img src="images/cool-off.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"To forge the strongest iron, spare the constant hammering - let it rest."
— Old Smokey</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Cool Off</span>
                            <span class="card-heat">-4</span>
                        </div>
                        <img src="images/cool-off.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"To forge the strongest iron, spare the constant hammering - let it rest."
— Old Smokey</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Laser Snapfire</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/laser-snapfire.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-12", deal 3 damage</p>
                            
                                <p>‣Move forward 0-2"</p>
                            
                        </div>
                        <div class="card-footer">"Nuthn' faster than searing light."
— Pyre, Scabland Lantern King</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Laser Snapfire</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/laser-snapfire.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-12", deal 3 damage</p>
                            
                                <p>‣Move forward 0-2"</p>
                            
                        </div>
                        <div class="card-footer">"Nuthn' faster than searing light."
— Pyre, Scabland Lantern King</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Blinding Burst</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/blinding-burst.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-6", deal 5 damage</p>
                            
                                <p>‣Rotate the enemy 90° right</p>
                            
                        </div>
                        <div class="card-footer">"A brilliant display to illuminate my victory!"
— Reckles, Emberkin</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Blinding Burst</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/blinding-burst.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-6", deal 5 damage</p>
                            
                                <p>‣Rotate the enemy 90° right</p>
                            
                        </div>
                        <div class="card-footer">"A brilliant display to illuminate my victory!"
— Reckles, Emberkin</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Tracking Shot</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/tracking-shot.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣If within 0-12", deal 2 damage</p>
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                        </div>
                        <div class="card-footer">"Every target flees - but fate soon follows."
— Sgt. Redborn, Artillery Angles</div>
                    </div>
                
            </div>
            <div class="page-break"></div>
        </div>
    
        <div class="mech-section">
            <h2>Thermo</h2>
            <div class="cards-container">
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Standard Move</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/standard-move.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6"</p>
                            
                        </div>
                        <div class="card-footer">"Step by step, gear by gear, we march through metal and fear."
— Seawell Militia Drill Song</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Standard Move</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/standard-move.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6"</p>
                            
                        </div>
                        <div class="card-footer">"Step by step, gear by gear, we march through metal and fear."
— Seawell Militia Drill Song</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Standing Swivel</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/standing-swivel.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-180°</p>
                            
                        </div>
                        <div class="card-footer">"In the dance of death, always pirouette!"
— Ballera, Mecha Duelist</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Standing Swivel</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/standing-swivel.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-180°</p>
                            
                        </div>
                        <div class="card-footer">"In the dance of death, always pirouette!"
— Ballera, Mecha Duelist</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Step Up</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/step-up.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6", ignoring terrain</p>
                            
                        </div>
                        <div class="card-footer">"When the words crumbles beneath yoU: step up, step up"
— Excerpt from Skaldic death poem</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Step Up</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/step-up.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 0-6", ignoring terrain</p>
                            
                        </div>
                        <div class="card-footer">"When the words crumbles beneath yoU: step up, step up"
— Excerpt from Skaldic death poem</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Combat Wit</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/combat-wit.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Draw a card</p>
                            
                        </div>
                        <div class="card-footer">"Only thing sharper than vibroblades - is me!"
— Dillhung the Copper Thief</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Combat Wit</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/combat-wit.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Draw a card</p>
                            
                        </div>
                        <div class="card-footer">"Only thing sharper than vibroblades - is me!"
— Dillhung the Copper Thief</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Step Back</span>
                            <span class="card-heat">-2</span>
                        </div>
                        <img src="images/step-back.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Move away 2-6"</p>
                            
                        </div>
                        <div class="card-footer">"The shadows are always there to welcome the wary."
— V1ncent, Guerilla Droid</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Step Back</span>
                            <span class="card-heat">-2</span>
                        </div>
                        <img src="images/step-back.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Move away 2-6"</p>
                            
                        </div>
                        <div class="card-footer">"The shadows are always there to welcome the wary."
— V1ncent, Guerilla Droid</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Cool Off</span>
                            <span class="card-heat">-4</span>
                        </div>
                        <img src="images/cool-off.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"To forge the strongest iron, spare the constant hammering - let it rest."
— Old Smokey</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Cool Off</span>
                            <span class="card-heat">-4</span>
                        </div>
                        <img src="images/cool-off.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"To forge the strongest iron, spare the constant hammering - let it rest."
— Old Smokey</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Cook Cabin</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/cook-cabin.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-6", deal 5 damage</p>
                            
                                <p>‣Enemy must discard a card</p>
                            
                        </div>
                        <div class="card-footer">"May our hope burn brighter than our cockpit fires!"
— Reckles, Emberkin</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Cook Cabin</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/cook-cabin.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-6", deal 5 damage</p>
                            
                                <p>‣Enemy must discard a card</p>
                            
                        </div>
                        <div class="card-footer">"May our hope burn brighter than our cockpit fires!"
— Reckles, Emberkin</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Melt Sensors</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/melt-sensors.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Enemy must discard 2 cards</p>
                            
                        </div>
                        <div class="card-footer">"Odysseus didn't need to outmatch the cyclopse - only its eye."
— Phent, Oldland Saboteur</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Torch Em</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/torch-em.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-12", deal 2 damage</p>
                            
                                <p>‣Enemy heats up 2</p>
                            
                        </div>
                        <div class="card-footer">"Light them up. Let them beg for darkness."
— Pyre, Scabland Lantern King</div>
                    </div>
                
            </div>
            <div class="page-break"></div>
        </div>
    
        <div class="mech-section">
            <h2>Hauler</h2>
            <div class="cards-container">
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Stagger Forward</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/stagger-forward.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 2-6"</p>
                            
                        </div>
                        <div class="card-footer">"When you can no longer march, fall forward."
— Grimsmear the Unyielding</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Stagger Forward</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/stagger-forward.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                                <p>‣Move forward 2-6"</p>
                            
                        </div>
                        <div class="card-footer">"When you can no longer march, fall forward."
— Grimsmear the Unyielding</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Overdrive Servos</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/overdrive-servos.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-180°</p>
                            
                                <p>‣Move forward 0-12"</p>
                            
                                <p>‣Retire this card</p>
                            
                        </div>
                        <div class="card-footer">"When metal screams, the battlefield sings."
— Zuri, Pole Pos of High Torq</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Overdrive Servos</span>
                            <span class="card-heat">1</span>
                        </div>
                        <img src="images/overdrive-servos.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-180°</p>
                            
                                <p>‣Move forward 0-12"</p>
                            
                                <p>‣Retire this card</p>
                            
                        </div>
                        <div class="card-footer">"When metal screams, the battlefield sings."
— Zuri, Pole Pos of High Torq</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Drive By</span>
                            <span class="card-heat">3</span>
                        </div>
                        <img src="images/drive-by.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Move forward 2-6"</p>
                            
                                <p>‣Rotate +/- 0°-180°</p>
                            
                                <p>‣If within 0-12", deal 4 damage</p>
                            
                                <p>‣Move forward 2-6"</p>
                            
                                <p>‣Retire this card</p>
                            
                        </div>
                        <div class="card-footer">"Passing by the gates of hell, we wave with guns blazing."
— Nia, Sand Rambler</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Mechanical Fuse</span>
                            <span class="card-heat">-3</span>
                        </div>
                        <img src="images/mechanical-fuse.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Deal 2 damage to yourself</p>
                            
                        </div>
                        <div class="card-footer">"Mortality is law. For all life. For all machines."
— Segg, Digital Deacon</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Mechanical Fuse</span>
                            <span class="card-heat">-3</span>
                        </div>
                        <img src="images/mechanical-fuse.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Deal 2 damage to yourself</p>
                            
                        </div>
                        <div class="card-footer">"Mortality is law. For all life. For all machines."
— Segg, Digital Deacon</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Remember Training</span>
                            <span class="card-heat">0</span>
                        </div>
                        <img src="images/remember-training.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Choose a 'retired' card, and return it to your hand</p>
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"Cacophony on the battlefield, symphony in my mind."
— Allison the Deadhand</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Remember Training</span>
                            <span class="card-heat">0</span>
                        </div>
                        <img src="images/remember-training.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Choose a 'retired' card, and return it to your hand</p>
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"Cacophony on the battlefield, symphony in my mind."
— Allison the Deadhand</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Do It Right</span>
                            <span class="card-heat">0</span>
                        </div>
                        <img src="images/do-it-right.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Choose a 'retired' card, and return it to your hand</p>
                            
                                <p>‣Retire this card</p>
                            
                        </div>
                        <div class="card-footer">"In here, you don't get to fail twice."
— Seawell Pilot's guide</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Heavy Lead</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/heavy-lead.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 6-12", deal 6 damage</p>
                            
                        </div>
                        <div class="card-footer">"Every shot fired leaves a wake."
— Carving on Thunder Fortress walls</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Heavy Lead</span>
                            <span class="card-heat">2</span>
                        </div>
                        <img src="images/heavy-lead.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 6-12", deal 6 damage</p>
                            
                        </div>
                        <div class="card-footer">"Every shot fired leaves a wake."
— Carving on Thunder Fortress walls</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Supressing Fire</span>
                            <span class="card-heat">4</span>
                        </div>
                        <img src="images/supressing-fire.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-12", deal 4 damage</p>
                            
                                <p>‣Move away 2-6"</p>
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                        </div>
                        <div class="card-footer">"Remember ocean waves. Their fire will crescendo, crest, and break. Only then, we move."
— Cpt. Cho Chun, Seawell Militia</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Supressing Fire</span>
                            <span class="card-heat">4</span>
                        </div>
                        <img src="images/supressing-fire.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣If within 0-12", deal 4 damage</p>
                            
                                <p>‣Move away 2-6"</p>
                            
                                <p>‣Rotate +/- 0°-90°</p>
                            
                        </div>
                        <div class="card-footer">"Remember ocean waves. Their fire will crescendo, crest, and break. Only then, we move."
— Cpt. Cho Chun, Seawell Militia</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Sweeping Barrage</span>
                            <span class="card-heat">4</span>
                        </div>
                        <img src="images/sweeping-barrage.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-180°</p>
                            
                                <p>‣If within 6-18", deal 8 damage</p>
                            
                                <p>‣Retire this card</p>
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"Sow the breeze will lead, reap the windfall of victory."
— Poorly translated Sand Rambler saying</div>
                    </div>
                
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">Sweeping Barrage</span>
                            <span class="card-heat">4</span>
                        </div>
                        <img src="images/sweeping-barrage.png" class="card-image">
                        <div class="card-body">
                            
                                <p>‣Rotate +/- 0°-180°</p>
                            
                                <p>‣If within 6-18", deal 8 damage</p>
                            
                                <p>‣Retire this card</p>
                            
                                <p>‣End your turn</p>
                            
                        </div>
                        <div class="card-footer">"Sow the breeze will lead, reap the windfall of victory."
— Poorly translated Sand Rambler saying</div>
                    </div>
                
            </div>
            <div class="page-break"></div>
        </div>
    

    
        <div class="mech-section">
            <h2>Nameless Degenerate</h2>
            <div class="cards-container">
                
            </div>
            <div class="page-break"></div>
        </div>
    

    

    <h2> All Cards </h2>
    <div class="cards-container">
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Standard Move</span>
                    <span class="card-heat">1</span>
                </div>
                <img src="images/standard-move.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-90°</p>
                    
                        <p>‣Move forward 0-6"</p>
                    
                </div>
                <div class="card-footer">"Step by step, gear by gear, we march through metal and fear."
— Seawell Militia Drill Song</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Standing Swivel</span>
                    <span class="card-heat">1</span>
                </div>
                <img src="images/standing-swivel.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-180°</p>
                    
                </div>
                <div class="card-footer">"In the dance of death, always pirouette!"
— Ballera, Mecha Duelist</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Step Up</span>
                    <span class="card-heat">2</span>
                </div>
                <img src="images/step-up.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-90°</p>
                    
                        <p>‣Move forward 0-6", ignoring terrain</p>
                    
                </div>
                <div class="card-footer">"When the words crumbles beneath yoU: step up, step up"
— Excerpt from Skaldic death poem</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Combat Wit</span>
                    <span class="card-heat">1</span>
                </div>
                <img src="images/combat-wit.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Draw a card</p>
                    
                </div>
                <div class="card-footer">"Only thing sharper than vibroblades - is me!"
— Dillhung the Copper Thief</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Step Back</span>
                    <span class="card-heat">-2</span>
                </div>
                <img src="images/step-back.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Move away 2-6"</p>
                    
                </div>
                <div class="card-footer">"The shadows are always there to welcome the wary."
— V1ncent, Guerilla Droid</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Cool Off</span>
                    <span class="card-heat">-4</span>
                </div>
                <img src="images/cool-off.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣End your turn</p>
                    
                </div>
                <div class="card-footer">"To forge the strongest iron, spare the constant hammering - let it rest."
— Old Smokey</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Cook Cabin</span>
                    <span class="card-heat">3</span>
                </div>
                <img src="images/cook-cabin.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-6", deal 5 damage</p>
                    
                        <p>‣Enemy must discard a card</p>
                    
                </div>
                <div class="card-footer">"May our hope burn brighter than our cockpit fires!"
— Reckles, Emberkin</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Melt Sensors</span>
                    <span class="card-heat">3</span>
                </div>
                <img src="images/melt-sensors.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Enemy must discard 2 cards</p>
                    
                </div>
                <div class="card-footer">"Odysseus didn't need to outmatch the cyclopse - only its eye."
— Phent, Oldland Saboteur</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Torch Em</span>
                    <span class="card-heat">3</span>
                </div>
                <img src="images/torch-em.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-12", deal 2 damage</p>
                    
                        <p>‣Enemy heats up 2</p>
                    
                </div>
                <div class="card-footer">"Light them up. Let them beg for darkness."
— Pyre, Scabland Lantern King</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Loose Missile</span>
                    <span class="card-heat">1</span>
                </div>
                <img src="images/loose-missile.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-12", deal 2 damage</p>
                    
                </div>
                <div class="card-footer">""A stray shot finds the most unexpected targets."
— Lucy of the Steel Archers</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Missile Hail</span>
                    <span class="card-heat">3</span>
                </div>
                <img src="images/missile-hail.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-18", deal 4 damage</p>
                    
                        <p>‣Retire this card</p>
                    
                </div>
                <div class="card-footer">"They may perish, but they will never forget the storm."
— Sgt. Redborn, Artillery Angles</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Shake It Off</span>
                    <span class="card-heat">-1</span>
                </div>
                <img src="images/shake-it-off.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 90°-180°</p>
                    
                </div>
                <div class="card-footer">"Make your own cool wind!"
— Ballera, Mecha Duelist</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Jump Pack</span>
                    <span class="card-heat">3</span>
                </div>
                <img src="images/jump-pack.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-90°</p>
                    
                        <p>‣Move forward 6-12", ignoring terrain</p>
                    
                </div>
                <div class="card-footer">"Get the sun behind you, and fly Icarus, fly!"
— Phent, Oldland Saboteur</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Slow It Down</span>
                    <span class="card-heat">-2</span>
                </div>
                <img src="images/slow-it-down.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Draw a card</p>
                    
                        <p>‣End your turn</p>
                    
                </div>
                <div class="card-footer">"The oldest titans tread the softest."
— Grimsmear the Unyielding</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Push Off</span>
                    <span class="card-heat">1</span>
                </div>
                <img src="images/push-off.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-2", deal 6 damage</p>
                    
                        <p>‣Move away 6-12"</p>
                    
                </div>
                <div class="card-footer">"Give them a nudge into the abyss."
— V1ncent, Guerilla Droid</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Laser Snapfire</span>
                    <span class="card-heat">2</span>
                </div>
                <img src="images/laser-snapfire.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-12", deal 3 damage</p>
                    
                        <p>‣Move forward 0-2"</p>
                    
                </div>
                <div class="card-footer">"Nuthn' faster than searing light."
— Pyre, Scabland Lantern King</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Blinding Burst</span>
                    <span class="card-heat">3</span>
                </div>
                <img src="images/blinding-burst.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-6", deal 5 damage</p>
                    
                        <p>‣Rotate the enemy 90° right</p>
                    
                </div>
                <div class="card-footer">"A brilliant display to illuminate my victory!"
— Reckles, Emberkin</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Tracking Shot</span>
                    <span class="card-heat">2</span>
                </div>
                <img src="images/tracking-shot.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-90°</p>
                    
                        <p>‣If within 0-12", deal 2 damage</p>
                    
                        <p>‣Rotate +/- 0°-90°</p>
                    
                </div>
                <div class="card-footer">"Every target flees - but fate soon follows."
— Sgt. Redborn, Artillery Angles</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Stagger Forward</span>
                    <span class="card-heat">1</span>
                </div>
                <img src="images/stagger-forward.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-90°</p>
                    
                        <p>‣Move forward 2-6"</p>
                    
                </div>
                <div class="card-footer">"When you can no longer march, fall forward."
— Grimsmear the Unyielding</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Overdrive Servos</span>
                    <span class="card-heat">1</span>
                </div>
                <img src="images/overdrive-servos.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-180°</p>
                    
                        <p>‣Move forward 0-12"</p>
                    
                        <p>‣Retire this card</p>
                    
                </div>
                <div class="card-footer">"When metal screams, the battlefield sings."
— Zuri, Pole Pos of High Torq</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Drive By</span>
                    <span class="card-heat">3</span>
                </div>
                <img src="images/drive-by.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Move forward 2-6"</p>
                    
                        <p>‣Rotate +/- 0°-180°</p>
                    
                        <p>‣If within 0-12", deal 4 damage</p>
                    
                        <p>‣Move forward 2-6"</p>
                    
                        <p>‣Retire this card</p>
                    
                </div>
                <div class="card-footer">"Passing by the gates of hell, we wave with guns blazing."
— Nia, Sand Rambler</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Mechanical Fuse</span>
                    <span class="card-heat">-3</span>
                </div>
                <img src="images/mechanical-fuse.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Deal 2 damage to yourself</p>
                    
                </div>
                <div class="card-footer">"Mortality is law. For all life. For all machines."
— Segg, Digital Deacon</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Remember Training</span>
                    <span class="card-heat">0</span>
                </div>
                <img src="images/remember-training.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Choose a 'retired' card, and return it to your hand</p>
                    
                        <p>‣End your turn</p>
                    
                </div>
                <div class="card-footer">"Cacophony on the battlefield, symphony in my mind."
— Allison the Deadhand</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Do It Right</span>
                    <span class="card-heat">0</span>
                </div>
                <img src="images/do-it-right.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Choose a 'retired' card, and return it to your hand</p>
                    
                        <p>‣Retire this card</p>
                    
                </div>
                <div class="card-footer">"In here, you don't get to fail twice."
— Seawell Pilot's guide</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Heavy Lead</span>
                    <span class="card-heat">2</span>
                </div>
                <img src="images/heavy-lead.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 6-12", deal 6 damage</p>
                    
                </div>
                <div class="card-footer">"Every shot fired leaves a wake."
— Carving on Thunder Fortress walls</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Supressing Fire</span>
                    <span class="card-heat">4</span>
                </div>
                <img src="images/supressing-fire.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣If within 0-12", deal 4 damage</p>
                    
                        <p>‣Move away 2-6"</p>
                    
                        <p>‣Rotate +/- 0°-90°</p>
                    
                </div>
                <div class="card-footer">"Remember ocean waves. Their fire will crescendo, crest, and break. Only then, we move."
— Cpt. Cho Chun, Seawell Militia</div>
            </div>
        
            <div class="card">
                <div class="card-header">
                    <span class="card-name">Sweeping Barrage</span>
                    <span class="card-heat">4</span>
                </div>
                <img src="images/sweeping-barrage.png" class="card-image">
                <div class="card-body">
                    
                        <p>‣Rotate +/- 0°-180°</p>
                    
                        <p>‣If within 6-18", deal 8 damage</p>
                    
                        <p>‣Retire this card</p>
                    
                        <p>‣End your turn</p>
                    
                </div>
                <div class="card-footer">"Sow the breeze will lead, reap the windfall of victory."
— Poorly translated Sand Rambler saying</div>
            </div>
        
    </div>
</body>
</html>