<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="heat-color.js"></script>
    <script src="dark-mode-toggle.js"></script>
</head>
<body>
    <button id="dark-toggle">🌞</button>

    {% for mech in mechs %}
        <div class="mech-section">
            <h2>{{ mech.human_name() }}</h2>
            <div class="cards-container">
                {% for card_type in mech.card_types %}
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">{{ card_type.human_name() }}</span>
                            <span class="card-heat">{{ card_type.heat }}</span>
                        </div>
                        <img src="images/{{ card_type.name }}.png" class="card-image">
                        <div class="card-body">
                            {% for step in card_type.steps %}
                                <p>{{ '‣' + step.explainer() }}</p>
                            {% endfor %}
                        </div>
                        <div class="card-footer">{{ card_type.flavor_text }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="page-break"></div>
        </div>
    {% endfor %}

    {% for pilot in pilots %}
        <div class="mech-section">
            <h2>{{ pilot.human_name() }}</h2>
            <div class="cards-container">
                {% for card_type in pilot.card_types %}
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">{{ card_type.human_name() }}</span>
                            <span class="card-heat">{{ card_type.heat }}</span>
                        </div>
                        <img src="images/{{ card_type.name }}.png" class="card-image">
                        <div class="card-body">
                            {% for step in card_type.steps %}
                                <p>{{ '‣' + step.explainer() }}</p>
                            {% endfor %}
                        </div>
                        <div class="card-footer">{{ card_type.flavor_text }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="page-break"></div>
        </div>
    {% endfor %}

    {% for upgrade in upgrades %}
        <div class="mech-section">
            <h2>{{ upgrade.human_name() }}</h2>
            <div class="cards-container">
                {% for card_type in upgrade.card_types %}
                    <div class="card">
                        <div class="card-header">
                            <span class="card-name">{{ card_type.human_name() }}</span>
                            <span class="card-heat">{{ card_type.heat }}</span>
                        </div>
                        <img src="images/{{ card_type.name }}.png" class="card-image">
                        <div class="card-body">
                            {% for step in card_type.steps %}
                                <p>{{ '‣' + step.explainer() }}</p>
                            {% endfor %}
                        </div>
                        <div class="card-footer">{{ card_type.flavor_text }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="page-break"></div>
        </div>
    {% endfor %}

    <h2> All Cards </h2>
    <div class="cards-container">
        {% for card_type in Card.all_types.values() %}
            <div class="card">
                <div class="card-header">
                    <span class="card-name">{{ card_type.human_name() }}</span>
                    <span class="card-heat">{{ card_type.heat }}</span>
                </div>
                <img src="images/{{ card_type.name }}.png" class="card-image">
                <div class="card-body">
                    {% for step in card_type.steps %}
                        <p>{{ '‣' + step.explainer() }}</p>
                    {% endfor %}
                </div>
                <div class="card-footer">{{ card_type.flavor_text }}</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
